<!doctype html>
<html lang="en">
    <head>
        <title>Geronimo</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold" rel="stylesheet" />
        <link rel="icon" href="/web/favicon.png" />
        <script>window.UserID = "{{.ID}}"</script>
        <script src="/web/dist/gui.js"></script>
    </head>
    <body>
        <!-- <div id="header">
            <span id="name">Geronimo</span>
            <img id="logo" src="/static/favicon.png" />
        </div>

        <div id="sidebar">
            <ul id="tree-view"></ul>
        </div>

        <div id="display-view"></div> -->
    </body>
</html>
